* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #f3f4f6;
  color: #111827;
}

.navbar {
  background: #111827;
  padding: 16px 32px;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.container {
  display: flex;
  gap: 40px;
  padding: 40px;
}

.left {
  width: 50%;
}

.left h3 {
  margin-bottom: 10px;
  text-align: left;
}

.left textarea {
  width: 100%;
  height: 100px;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  resize: none;
}

.left select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  margin-bottom: 25px;
}

.color-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.color-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.color-group label {
  margin-bottom: 6px;
  font-weight: 500;
}

input[type="color"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 45px;
  border: 2px solid #d1d5db;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
  background: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 6px;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 6px;
}

.primary-btn {
  width: 100%;
  padding: 12px;
  background: #10b981;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.primary-btn:hover {
  background: #059669;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right img {
  max-width: 440px;
  margin-bottom: 15px;
}

.button-row {
  display: flex;
  gap: 20px;              
  justify-content: center; 
  margin-top: 10px;
}


.button-row .primary-btn {
 
  min-width: 140px;       
}



.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 60px auto;
  gap: 20px;
}

.center-container img.generated-qr {
  max-width: 320px;
}

.center-container .button-row {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  width: 100%;
  max-width: 400px; 
}

.center-container .button-row .primary-btn {
  flex: 1; 
}
